<ul class="nav navbar-nav">
  <li class="dropdown my-actions">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse By <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Creator", "/catalog/facet/creator_sim?facet.sort=index" %></li>
              <li><%= link_to "Topic", "/catalog/facet/topic_sim?facet.sort=index" %></li>
              <li><%= link_to "Format", "/catalog/facet/resource_type_sim?facet.sort=index" %></li>
            </ul>
    
  </li>
</ul>

