  <strong class="menu-heading item-with-options">Add an Authority</strong>
  <ul class="item-options quick-classify">
      <li><%= link_to(
            "New Agent",
            "/authorities/agent/new",
            class: "item-option contextual-quick-classify new-authorities",
            role: 'menuitem'
          ) %>
      </li>
  </ul>

